.alllexpenses {
  padding: 2em;
  width: 80%;
}

.table {
  border-top: 1px solid #aaa;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  border-spacing: 0 15px;

  &__tr {
    text-align: center;
    &:nth-child(even) {
      background-color: #fff5f5;
    }

    &--th,
    &--td {
      width: 30%;
    }
  }
}
.hide {
  visibility: hidden;
}
