.alllexpenses {
  width: 80%;
}

.table {
  border-top: 1px solid #aaa;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  border-spacing: 0 15px;
  margin: 15px;

  &__tr {
    text-align: center;
    &:nth-child(even) {
      background-color: #fff5f5;
    }

    &--th {
      text-align: start;
    }
    &--th,
    &--td {
      width: 30%;
    }
  }
  th {
    text-transform: uppercase;
  }
}
.hide {
  visibility: hidden;
}
