.item {
  &__type {
    color: #adb5bd;
  }
  &__amount {
  }
  &__date {
    color: #adb5bd;
  }
  &__data {
    &--img {
      width: 30px;
      height: 30px;
      background-color: red;
      border-radius: 8px;
    }
    &--about {
      text-transform: capitalize;
      &_name {
        font-weight: 600;
      }
      &-business {
        color: #adb5bd;
      }
    }
  }
}
.flexi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}
