.main {
  // width: 60%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: center;
  flex-grow: 5;
  gap: 2em;
  margin-top: 20px;
  // overflow: auto;
}
