.nav {
  width: 12%;
  background-color: #e9ecef;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  animation: widthAnimation 0.3s ease;
  transition: all 0.3s ease-in-out;
}

.logo {
  display: flex;
  position: relative;
  align-items: center;
  &__close {
    position: relative;
    margin-left: auto;
    cursor: pointer;
  }
  &__img {
    width: 20px;
    height: 20px;
  }
  &__text {
    font-weight: 700;
    margin-left: 0.5em;
  }
}
.navigation {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  :last-child {
    margin-top: auto;
  }
  &__item {
    &.activelink,
    &.activelink:hover {
      background-color: #868e96;
    }
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 0.7em;
    cursor: pointer;
    margin-bottom: 1em;
    &:hover {
      background-color: #c0eb75;
    }

    &--text {
      margin-left: 0.5em;
    }
    &--logo {
      font-size: 18px;
    }
  }
}

.hidden {
  transform: translateX(-200px);
  width: 0px;
  padding: 0;
}

@keyframes widthAnimation {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
