.top {
  display: flex;
  padding: 1em;
  // justify-content: flex-end;
  // align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.account {
  display: flex;
  padding: 0.5em;

  background-color: #e9ecef;
  align-items: center;

  border-radius: 80px;
  max-width: 10.6rem;
  gap: 0.5em;
  :last-child {
    margin-left: auto;
  }
  &__logo {
    cursor: pointer;
  }
  &__img {
    width: 25px;
    border-radius: 50%;
  }
}
.dashboard {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
}
