@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply border-2 border-gray-800 rounded-xl py-1 px-2 text-lg w-40;
  }
}
*,
*:after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Prompt", sans-serif;
  height: 100%;
}
#root {
  height: 100vh;
}
